* {
    box-sizing: border-box;
}
html {
    font: normal 1rem sans-serif;
    color: #555;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: white;
}
a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}
ul {
    list-style: none;
}
hr {
    width: 15%;
    height: .25rem;
    background-color: #3f51b5;
    border: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
}
section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}
section h3 {
    text-transform: uppercase;
    font: bold 2rem "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 1.75rem;
}
section p {
    line-height: 2;
    text-align: center;

    max-width: 48.5rem;
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
}

section .gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Header */
header.header {
    font-size: 1.5rem;

    padding: 2rem 3rem;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: 0;
    animation: 1s fade-in 0.5s forwards;

    z-index: 1;
}
@keyframes fade-in {
    100% {
        opacity: inherit;
    }
}
header.header nav.links {
    display: flex;
    margin-right: -1rem;
    list-style: none;
}
header.header nav.links li {
    margin: 0 1rem;
}
header.header .title {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

/* Main section */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}
.hero .hero-content {
    margin-top: 35vh;
    opacity: 0;
    animation: 1s slide-fade 1s forwards;
}
@keyframes slide-fade {
    100% {
        opacity: 1;
        margin-top: 30vh;
    }
}
.hero-content h1 {
    font: bold 4rem "Open Sans", sans-serif;
    margin-bottom: 1rem;
}
.hero-content h3 {
    font: normal 1.5rem "Open Sans", sans-serif;
    margin-bottom: 2.5rem;
}
.hero-content a.btn {
    padding: 1.25rem 2.75rem;
}

/* Second section */
.second hr {
    margin-bottom: 3rem;
}
.second .gallery li {
    height: 20rem;
    padding: 1.25rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.second .gallery li.small {
    flex-basis: 30%;
}
.second .gallery li.large {
    flex-basis: 70%;
}

/* Third section */
.third .gallery li {
    flex-basis: 50%;
    padding: 3rem;
    text-align: center;
}
.third .gallery li i {
    color: #8c9eff;
}
.third .gallery li h4 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

/* Fourth section */
p.quote {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 2.5rem 0 1.5rem;
}
p.author {
    font-style: italic;
}

.fifth form {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}
.fifth form .btn {
    padding: 1rem 2.5rem;
}
.fifth form input {
    padding: 1rem;
    margin-right: 2.5rem;
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #607d8b;
    color: white;
    padding: 1.25rem;
}
footer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    opacity: 0.6;
    align-self: center;
}
footer ul {
    display: flex;
}
footer ul li {
    margin-left: 1rem;
}
