<h1>Search Movies</h1>

<form action="/results" method="GET">
    <label>Title <input type="text" placeholder="search..." name="search"></input></label>
    <button>Find your next movie</button>
</form>