
/*background*/
body {
	background-color: #232323;
}


/*header*/
h1 {
	color: white;
}
h1 span {
	/*Goal Color Display*/
	text-transform: uppercase;
}

span#message {
	color: white;
}


/*choices*/
div#choice-container {
	max-width: 600px;
	margin: 0 auto;
}

div.square {
	width: 30%;
	margin: 1.66%;
	background: purple;
	padding-bottom: 30%;
	float: left;
}